<head>
  <title>Motor Control</title>
  <link rel=icon href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/svgs/solid/wave-square.svg>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- JQuery link for requestdata()-->
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body onload="requestData()" style="width:960px; margin: 20px auto;">
  <div class='container'>
      <p><span id="motorA">Control Motors </span></p>
          <form method ="post" action="/">
            <button type="submit" name="Fwd" value="Fwd"> Fwd </button>
            <button type="submit" name="Left" value="Left"> Left </button>
            <button type="submit" name="Right" value="Right"> Right </button>
            <button type="submit" name="Bwd" value="Bwd"> Bwd </button>
            <button type="submit" name="Stop" value="Stop"> Stop </button>
          </form>
          <form method ="post" action="/">
            <label for="Speed">Speed (between 0 and 255):</label>
            <input type="range" name="Speed" step="5" min="0" max="255" value="20" class="slider" id="Speed">
          </form>
          <form hidden id='speedForm' action="/" method="POST">
            <input id='speedFormText' type='text' name='Speed' tabindex='-1'>
          </form>
          <p><span id="actuator2">Motor Speed </span></p>
  </div>
</body>
<script>
  document.getElementById("Speed").addEventListener("change", submit);
  function submit() {
    document.getElementById('speedFormText').value = 
    document.getElementById('Speed').value 
      document.getElementById('speedForm').submit();
  } 
</script>