

<head>
  <title>Motor Control</title>
  <link rel=icon href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/svgs/solid/wave-square.svg>
</head>

<body style="width:960px; margin: 20px auto;">
  <div class='container'>
      <p><span id="motorA">Control Motors </span></p>
          <form method ="post" action="/">
            <button type="submit" name="Fwd" value="Fwd"> Fwd </button>
            <button type="submit" name="Stop" value="Stop"> Stop </button>
          </form>

  </div>
</body>