<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type="text/javascript">
  function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/data');
            var tm = requests.done(function (result)
            {
              /*var x = JSON.stringify(requests);
              document.getElementById("sensor1").innerHTML = x*/
              var x = requests.responseJSON
              document.getElementById("actuator1").innerHTML = x[0]
              setTimeout(requestData, 1000);
          });
        }
</script>

<div class='container'>
    <p><i class="fas fa-fan"></i> <span id="actuator1">Cooling Fan: </span></p>
        <form>
            <a href=# id=test><button class='btn btn-default'>Toggle</button></a>
        </form>

</div>